body {
    background-color: rgb(78, 5, 28);
    color: rgb(164, 196, 238);
}

#main {
    padding-left: 10%;
    padding-right: 10%;
}

#header {
    text-align: center;
    margin-bottom: 5%;
}

#header h1 {
    color: #FFF;
    font-size: 80px;
    font-weight: 800;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

#header h2 {
    font-size: 40px;
    font-weight: 800;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

#view {
    width: 20%;
    float: left;
    padding-bottom: 3%;
}

.bookImg {
    width: 90%;
    height: 300px;
    display: block;
    margin: auto;
    filter: drop-shadow(0.5rem 0.5rem 0.6rem rgba(255, 255, 255, 0.8));
}

.bookImg:hover {
    cursor: pointer;
    filter: drop-shadow(0.7rem 0.7rem 0.8rem rgba(255, 163, 4, 0.9));
}

.modal {
    justify-content: center;
    align-items: center;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 24px;
    width: 90%;
    height: 75%;
}

.ModalDiv {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.close {
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    color: red;
    border-radius: 24px;
    position: absolute;
    margin-right: 100% auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  #button {
    color: rgb(42, 9, 22);
    background-color: rgb(217, 217, 217);
    border-radius: 24px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    letter-spacing: .2;
    margin-left: 1%;
    box-shadow: 4px 4px #7d8183;
}